{% extends "layout.html" %}
{% block content %}


<div class="about_page">
  <h2>Career Path</h1>
  <p>Career Path is an All-in-one, personally tailored job search tool designed for Software Engineers fresh out of school seeking for their first career opportunity. More than a simple tool, Career Path is an unique web application that links new talent to individually tailored career opportunities. Our product stands out by also suggesting ways the user can level up their skills to the job they want.</p>

  <h2>Vision</h2>
  <p>Career Path, smoothing the path toward career fulfillment.</p>

  <h2>Mission</h2>
  <p>To help upcoming Software Engineers have jobs that are the right fit for them.</p>
</div>

  <h3>Our Team</h3>
  <a href="https://www.linkedin.com/in/heindrick-cheung/">Heindrick Cheung</a>
  <a href="https://www.linkedin.com/in/cuong-tran-a0677454/">Jack Tran</a>
  <a href="https://www.linkedin.com/in/leine-francisca-valente-b6b06413/">Leine Valente</a>

{% endblock content %}
