{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset class="form-group">
            <div class="form-group" id="position">
                {{ form.position.label(class="form-control-label") }}
                {% if form.position.errors %}
                    {{ form.position(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.position.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.position(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" id="location">
                {{ form.location.label(class="form-control-label") }}
                {% if form.location.errors %}
                    {{ form.location(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.location.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.location(type='text', class="form-control form-control-lg", id='city_box') }}
                {% endif %}
                <script>
                  let input = document.getElementById('city_box');
                  let autocomplete = new google.maps.places.Autocomplete(input);
                </script>
            </div>

<!--	  <div class="skill_list" id="skills">
	      <select name="demo-category" id="demo-category" multiple>
          {% for skill in skills %}
		          <option value="{{ skill }}">{{ skill }}</option>
          {% endfor %}

	      </select>
          </div>
-->
            <div class="form-group" id="more_skill">
                {{ form.more_skill.label(class="form-control-label") }}
                {% if form.more_skill.errors %}
                    {{ form.more_skill(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.more_skill.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.more_skill(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
