{% extends "layout.html" %}
{% block content %}


    <!-- Main -->
      <div id="main">

        <!-- Post -->
          <article class="post">
            <header>
              <div class="title">
                <h2><a href="single.html">Search Jobs</a></h2>
              </div>
            </header>


            <section>
            <h3>preferences</h3>
                <div class="col-6 col-12-xsmall">
                  <input type="text" id="location_box"/>
                </div>
                <script>
                  let input = document.getElementById('location_box');
                  let autocomplete = new google.maps.places.Autocomplete(input);
                </script>
                <div class="col-6 col-12-xsmall">
                  <input type="text" name="demo-name" id="position_box" value="" placeholder="Position" />
                </div>
                <ul>
                  <button class="job_query_submit" onclick="myFunction();">submit</button>
                </ul>
                <script>
                  function myFunction() {
                    let location = document.getElementById('location_box').value;
                    let position = document.getElementById('position_box').value;
                    if (location.length < 1) {
                      location = "None";
                    } else {
                      location = location.split(' ').join('_');
                    }
                    if (position.length < 1) {
                      position = "None";
                    } else {
                      position = position.split(' ').join('_');
                    }
                    let url = '/job_search/' + position + '/' + location;
                    window.location.href=url;
                  };
                </script>

            <h3>Results</h3>
            <div class="table-wrapper">
              <table>
                <thead>
                  <tr>
                    <th>Company</th>
                    <th>Position</th>
                    <th>Location</th>
                    <th>Date Posted</th>
                  </tr>
                </thead>
                <tbody>
                  {% for job in jobs %}
                  <tr>
                    <td>{{ job.company }}</td>
                    <td>{{ job.position }}</td>
                    <td>{{ job.location }}</td>
                    <td>{{ job.date_post }} day(s) ago</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </section>
          </article>

      </div>

    <!-- Sidebar -->
      <section id="sidebar">

        <!-- Intro -->
          <section id="intro">
            <a href="#" class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="" /></a>
            <header>
              <h2>Career Path</h2>
	      <p>All-in-one, personally tailored job search tool.</p>
            </header>
          </section>

      </section>

{% endblock content %}
