{% extends "layout.html" %}
{% block content %}
  <table style="width:100%" id="profile_management">
    <caption>Matching jobs</caption>
  <tr>
    <th>Position</th>
    <th>Company</th>
    <th>Location</th>
    <th>Date Post</th>
    <th>Skill Match</th>
  </tr>
  {% for job in jobs %}
  <tr>
    <td><a href="/job_add/{{ job.id }}/{{ user_id }}">{{ job.position }}</a></td>
    <td>{{ job.company }}</td>
    <td>{{ job.location }}</td>
    <td>{{ job.date_post }}</td>
    <td>{{ job.skill_match }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content %}
