<!doctype html>
<html lang="en">

  <head>
    <title>Career Path</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3XfuMJJGzaU8TUItQM7XWD4esZdbpgtA&libraries=places"></script>
  </head>

  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <h1><a href="{{ url_for('home') }}">Career Path</a></h1>
	<nav class="main sticky-top">
          <ul>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
	<!-- Menu -->
	<section id="menu">
	  <!-- Links -->
	  <section>
	    <ul class="links">
	      <li>
		<a href="{{ url_for('home') }}">
		  <h3>Home</h3>
		</a>
	      </li>
	      <li>
		<a href="{{ url_for('about') }}">
		  <h3>About</h3>
		</a>
	      </li>
	      {% if current_user.is_authenticated %}
	      <li>
		<a href="{{ url_for('profile') }}">
		  <h3>Profile</h3>
		</a>
	      </li>
	      <li>
		<a href="{{ url_for('update_account') }}">
		  <h3>Update Account</h3>
		</a>
	      </li>
	      <li>
		<a href="{{ url_for('logout') }}">
		  <h3>Logout</h3>
		</a>
	      </li>
	      {% else %}
	      <li>
		<a href="{{ url_for('login') }}">
		  <h3>Login</h3>
		</a>
	      </li>
	      <li>
		<a href="{{ url_for('register') }}">
		  <h3>Register</h3>
		</a>
	      </li>
	      {% endif %}
	    </ul>
	  </section>
	  <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
	  </div>

      </header>
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div id="already-logged-in"class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>

      {% block content %}{% endblock %}
    </div>


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    
    <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="https://twitter.com/" class="fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="fa-envelope"><span class="label">teamcareer.up@gmail.com</span></a></li>
	<li><a href="https://github.com/hcheung01/Career_path" class="fa-github"><span class="label"></span></a></li>
      </ul>
      <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </footer>
  </body>
</html>
